body, html {
height: 2000px;
}

.container {
text-align: center;
}

.navbar-brand {
margin-left: 10px;
}

.title {
text-align: center;
}

#dropdown {
visibility: none;
}

#scrollBtn {
display: none;
position: absolute;
float: right;
}


#areaOne {
background-color: royalblue;
height: 700px;
width: auto;
}


#htmlIcon {
color: #f06529;
}

#cssIcon {
color: royalblue;
}

#jsIcon {
color: #f7df1e;
}

#dbIcon {
color: #0073e6;
}

#kdIcon {
color: #FFD43B;
}

#rIcon {
color: #0073e6;
}

#andIcon {
color: #A4C639;
}

#javaIcon {
color: #ff0000;
}

#gitIcon {
}

#msftIcon {
color: #00a1f1;
}

#googIcon {
color: #0F9D58;
}

#cogIcon {
color: #BA0C2F;
}

#areaTwo {
background-color: white;
}

#timeline {
height:
}

#scrollBtn {
border-radius: 50%;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
}

@media (max-width: 990px) {
#visNavBar {
display: none !important;
}
#hiddenNav {
visibility: visible !important;
}
}


@media (min-width: 991px) {
#visNavBar {
visibility: visible !important;
}
#hiddenNav {
display: none !important;
}
}