body, html {
height: 2000px;
}

.container {
text-align: center;
}

.navbar-brand {
margin-left: 10px;
}

.title {
text-align: center;
}

#dropdown {
visibility: none;
}

#scrollBtn {
display: none;
position: absolute;
float: right;
}


#areaOne {
background-color: royalblue;
height: 700px;
width: auto;
}


#htmlIcon {
color: orange;
}

#cssIcon {
color: royalblue;
}

#jsIcon {
color: #FFD700;
}

#dbIcon {
color: #0073e6;
}

#kdIcon {
color: #ffcc33;
}

#rIcon {
color: #0073e6;
}

#andIcon {
color: #A4C639;
}

#javaIcon {
color: #ff3300;
}

#wordIcon {
color: # ;
}

#excelIcon {
color: #00592D;
}

#pptIcon {
color: #EA3C00;
}

#msftIcon {

}

#googIcon {

}

#cogIcon {
color: gray;
}

#areaTwo {
background-color: white;
height: 700px;
width: auto;
}

#areaThree {
background-color: yellow;
height: 700px;
width: auto;
}

#scrollBtn {
border-radius: 50%;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
}

@media (max-width: 990px) {
#visNavBar {
display: none !important;
}
#hiddenNav {
visibility: visible !important;
}
}

@media (min-width: 991px) {
#visNavBar {
visibility: visible !important;
}
#hiddenNav {
display: none !important;
}
}