body, html {
height: 2000px;
}

.navbar-brand {
margin-left: 10px;
}

.title {
text-align: center;
}

#dropdown {
visibility: none;
}

@media (max-width: 990px) {
#visNavBar {
display: none !important;
}
#hiddenNav {
visibility: visible !important;
}
}

@media (min-width: 991px) {
#visNavBar {
visibility: visible !important;
}
#hiddenNav {
display: none !important;
}
}